@model WebApp.Models.LoginViewModel;
@{
    ViewData["Title"] = "Login";
}
@section css
{
    <link rel="stylesheet" href="~/css/login.css" />
}
@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/js/login.js")"></script>
}
<div class="container h-100 d-flex flex-row align-items-center justify-content-center">
    <div class="inner-size">
        @if (@ViewBag.error != null)
        {
            <div class="alert alert-danger w-50 m-auto" role="alert">
                <span>@ViewBag.error</span>
            </div>
        }
        <form asp-controller="Home" asp-action="Index" method="post" class="custom-input-wrapper mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="logo-wrap">
                        <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
	                        <path id="buil" d="M15.15,38.78H5.41V31.49c0-1.9-.7-2.65-2.55-2.65s-2.54.7-2.54,2.55V65.81c0,1.84.68,2.59,2.49,2.59l12.28,0c6.86,0,10-3.14,10-9.94V48.92C25.09,42,21.9,38.78,15.15,38.78ZM20,58.56c0,3-1.75,4.7-4.85,4.7H5.46V43.83h9.69c3.1,0,4.85,1.74,4.85,4.89ZM56,41.23V65.81c0,1.79-.7,2.49-2.55,2.49H41.08c-6.8,0-9.94-3.24-9.94-10.19V41.23c0-1.85.7-2.55,2.55-2.55s2.54.75,2.54,2.6v17c0,3.15,1.75,4.9,4.9,4.9h9.69v-22c0-1.9.75-2.6,2.65-2.6S56,39.38,56,41.23Zm12.88,0V65.51c0,1.94-.7,2.74-2.54,2.79s-2.55-.9-2.55-2.69V41.23c0-1.85.7-2.6,2.5-2.6S68.85,39.38,68.85,41.23ZM68.7,30.14a2.86,2.86,0,0,1,.35,1.25,2.38,2.38,0,0,1-.35,1.3,2,2,0,0,1-.9.9,3.07,3.07,0,0,1-1.29.35,2.21,2.21,0,0,1-1.25-.35,2,2,0,0,1-.9-.9,2.38,2.38,0,0,1-.35-1.3,2.21,2.21,0,0,1,.35-1.25,2.29,2.29,0,0,1,.9-.9,2.9,2.9,0,0,1,1.25-.35,2.37,2.37,0,0,1,1.29.35A2,2,0,0,1,68.7,30.14ZM84.79,65.66c0,1.89-.75,2.64-2.6,2.69H78.64c-1.84,0-2.54-.75-2.54-2.59V31.44c0-1.9.7-2.65,2.49-2.65s2.6.75,2.6,2.65V63.21h1.1a2.88,2.88,0,0,1,2,.6A2.46,2.46,0,0,1,84.79,65.66Z" style="fill: rgb(255, 131, 0); opacity: 1;"></path>
	                        <path id="ding" d="M22.55,72.85c-1.85,0-2.55.75-2.55,2.65v7.24H10.25C3.45,82.74.31,86,.31,92.88v9.59c0,6.8,3.2,9.94,10,9.94H22.6c1.79,0,2.49-.7,2.49-2.59V75.4C25.09,73.55,24.4,72.85,22.55,72.85ZM20,107.32H10.26c-3.1,0-4.85-1.7-4.85-4.7V92.78c0-3.15,1.75-4.89,4.9-4.89l9.69,0ZM37.63,74.15A2.75,2.75,0,0,1,38,75.4a2.38,2.38,0,0,1-.35,1.3,2,2,0,0,1-.9.9,3,3,0,0,1-1.32.34,2.28,2.28,0,0,1-1.25-.34,1.94,1.94,0,0,1-.89-.9,2.58,2.58,0,0,1,0-2.55,1.94,1.94,0,0,1,.89-.9,2.58,2.58,0,0,1,2.55,0A2,2,0,0,1,37.63,74.15Zm.15,11.09v24.28c0,1.94-.7,2.74-2.55,2.84-1.79-.1-2.54-.9-2.54-2.69V85.24c0-1.85.7-2.6,2.49-2.6S37.78,83.39,37.78,85.24ZM69.85,93v16.94c0,1.79-.75,2.49-2.59,2.49s-2.55-.75-2.55-2.59v-17c0-3.15-1.7-4.89-4.85-4.89H50.12v21.88c0,1.89-.75,2.59-2.6,2.59S45,111.61,45,109.77V85.29c0-1.8.69-2.5,2.54-2.5H59.91C66.71,82.79,69.85,86,69.85,93ZM98.18,82.73H85.85c-6.81,0-10,3.16-10,10v9.39c0,6.95,3.14,10.19,9.94,10.19h9.79v1.1a4.45,4.45,0,0,1,0,.73,3.4,3.4,0,0,1-3.75,3H83.09a2.59,2.59,0,0,0-1.8.55,2.62,2.62,0,0,0-.55,2c0,1.85.7,2.54,2.45,2.54l7.54,0c6.8,0,9.94-3.09,9.94-9.74V85.33C100.67,83.48,100,82.73,98.18,82.73Zm-2.5,24.49H86c-3.15,0-4.9-1.75-4.9-4.9V92.73c0-3.15,1.7-4.89,4.85-4.89h9.74Z" style="fill: rgb(255, 131, 0); opacity: 1;"></path>
	                        <path id="blo" d="M15.15,126.6H5.41v-7.24c0-1.9-.7-2.65-2.55-2.65s-2.54.75-2.54,2.55v34.42c0,1.84.69,2.59,2.49,2.59H15.09c6.86,0,10-3.19,10-9.94v-9.59C25.09,129.85,21.9,126.6,15.15,126.6ZM20,146.43c0,3-1.75,4.7-4.85,4.7H5.46V131.7h9.69c3.1,0,4.85,1.74,4.85,4.89Zm20.88,5.25a2.46,2.46,0,0,1,.5,1.85c0,1.89-.75,2.64-2.6,2.69H35.23c-1.84-.05-2.54-.75-2.54-2.59V119.31c0-1.9.7-2.65,2.49-2.65s2.6.75,2.6,2.65v31.77h1.1A2.88,2.88,0,0,1,40.88,151.68ZM66,126.49H56.31c-6.79,0-9.94,3.21-9.94,10v9.79c0,6.8,3.15,9.94,9.84,9.94H66c6.8,0,10-3.22,10-10.22v-9.57C76,129.64,72.79,126.49,66,126.49Zm4.84,19.74c0,3.1-1.75,4.9-4.84,4.9H56.21c-3,0-4.74-1.8-4.74-4.9v-9.69c0-3,1.74-4.79,4.74-4.79H66c3.09,0,4.84,1.69,4.84,4.69Z" style="fill: rgb(26, 26, 24); opacity: 1;"></path>
	                        <path id="cks" d="M25.19,197.24c0,1.85-.7,2.49-2.54,2.49l-12.39,0c-6.8,0-9.94-3.24-9.94-10.19V180c0-6.84,3.14-10,9.94-10H22.4c2,0,2.74.7,2.74,2.55s-.8,2.5-2.64,2.55H10.16c-3,0-4.7,1.75-4.7,5v9.64c0,3.15,1.75,4.9,4.9,4.9H22.7C24.49,194.64,25.19,195.39,25.19,197.24ZM54.77,171a2.67,2.67,0,0,0-1.85-1.09,3.1,3.1,0,0,0-1.8.9L36.23,186.2V162.87c0-1.85-.75-2.65-2.49-2.75-1.9,0-2.6.85-2.6,2.8V197c0,1.84.81,2.59,2.6,2.59s2.49-.7,2.49-2.59v-3.46l6.7-6.89,7.59,11.78c.9,1.25,1.65,1.25,1.9,1.25a2.86,2.86,0,0,0,1.65-.66c1.45-1.15,1.6-2.24.45-3.79l-8-12.34,8-8.24C55.92,173.35,56,172.35,54.77,171ZM72.6,182.25H70.2c-4.25,0-4.89-2.1-4.89-3.5s.64-3.64,4.89-3.64h9.74c1.75-.05,2.5-.8,2.5-2.6s-.7-2.5-2.55-2.5H70.1c-3.6,0-6.19.8-7.79,2.4-1.35,1.4-2,3.39-2,6.19s.7,5,2.1,6.35c1.6,1.6,4.19,2.4,7.84,2.4h2.4c4.15.1,4.79,2.29,4.74,3.64s-.69,3.6-4.84,3.6H62.66c-1.25,0-2.45.35-2.45,2.75,0,1.6.65,2.24,2.45,2.24l9.94,0c6.69,0,9.84-2.85,9.84-8.69S79.34,182.35,72.6,182.25Z" style="fill: rgb(26, 26, 24); opacity: 1;"></path>
	                        <path id="line" d="M2.91,21v-.77A13,13,0,0,1,4,15.05,18.64,18.64,0,0,1,19,3.24a41,41,0,0,1,5.43-.35H175.34a40.32,40.32,0,0,1,5.91.43,18.32,18.32,0,0,1,15.84,18V71.24a39.91,39.91,0,0,1-.61,6.81c-.79,4.5-3,12.29-8.52,15.8-1.26,1.05-4.61,3.14-4.61,5.91s3.31,5.63,4.69,6.67a25,25,0,0,1,8.46,15.14,49.49,49.49,0,0,1,.56,7.39v49.67a18.32,18.32,0,0,1-15.8,18,41.56,41.56,0,0,1-6,.44h-85" style="fill: none; stroke: rgb(255, 131, 0); stroke-linecap: round; stroke-miterlimit: 10; stroke-width: 5.1px; opacity: 1; stroke-dashoffset: 0px;" stroke-dasharray="497.8701477050781"></path>
                        </svg>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="form-group text-center">
                        <input 
                            id="emailInput"
                            type="email" 
                            class="form-control text-center" 
                            placeholder="Email" 
                            asp-for="Email"
                        />
                        <span asp-validation-for="Email" id="emailError" class="text-danger error-masage"></span>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <div class="form-group text-center">
                        <input 
                            id="passwordInput"
                            type="password" 
                            class="form-control text-center" 
                            placeholder="Password" 
                            asp-for="Password"
                        />
                        <span asp-validation-for="Password" id="passError" class="text-danger error-masage"></span>
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    <button id="submit" class="btn btn-custom" type="submit">
                        <span>Login</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>