/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html, body, h1, h2, h3, h4, h5, h6, p, span, b, a, input, button {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

.form-check-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.form-check-wrapper p {
    display: block;
    font-size: 20px;
    letter-spacing: .5px;
    margin: 1.5px 0 0 20px;
}

.form-check-wrapper label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.form-check-wrapper label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.form-check-wrapper label input:checked ~ span {
    background-color: #ff8300;
}
.form-check-wrapper label input:checked ~ span::before {
    transform: translateX(26px);
}

.form-check-wrapper label span{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e0e0e0;
    transition: .4s;
    border-radius: 34px;
}

.form-check-wrapper label span::before{
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.form-check-wrapper label:hover span{
    background-color: #d0d0d0;
}

.form-check-wrapper label:hover input:checked ~ span{
    background-color: #e67600;
}

.btn-custom {
    white-space: nowrap;
    margin: auto;
    width: fit-content;
    height: auto;
    display: block;
    border: solid 2px #ff8300;
    border-radius: 15px;
    transition: border-radius ease-in-out .4s;
}
.btn-custom:hover{
    border-radius: 5px;
    transition: border-radius ease-in-out .4s;
}

.btn-custom span{
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px;
    color: #ff8300;
    letter-spacing: .5px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a.navbar-brand svg {
    width: 55px !important;
}
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
